.summary {
  padding: 64px 0 32px 0;
}

.list {
  list-style-type: none;
}

.listMain {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.logo {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
}

.logoTitle {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.listTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}

.listItem {
  font-size: 16px;
  line-height: 24px;
  color: #363331;
}

.listItem + .listItem {
  margin-top: 8px;
}

.listMainItem {
  flex-basis: calc((100% - 24px) / 2);
}

.listMainItem:nth-child(odd) {
  margin-right: 24px;
}

.listMainItem:not(:nth-last-child(-n + 2)) {
  margin-bottom: 24px;
}

.downloadText {
  font-size: 16px;
  line-height: 24px;
  color: #363331;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.downloadText > span {
  font-size: 16px;
  line-height: 24px;
  color: #363331;
}

.appleLogo {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

.androidLogo {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.socialItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #f7c100;
  border-radius: 100px;
}

.socialItem + .socialItem {
  margin-left: 16px;
}

.selectCountry {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(7, 0, 0, 0.4);
  padding: 12px 16px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../../images/arrowSelect.png") no-repeat right center;
  background-position: 95%;
}

@media screen and (min-width: 1440px) {
  .logoTitle {
    font-size: 32px;
    line-height: 40px;
  }
  .listMain {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  .listMainItem {
    flex-basis: calc((100% - 95px * 3) / 4);
  }

  .listMainItem + .listMainItem {
    margin-left: 95px;
  }

  .logoContainer {
    margin-right: 101px;
  }
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 104px;
    height: 104px;
    margin-bottom: 32px;
  }
  .listMainItem:nth-child(odd) {
    margin-right: 0;
  }
  .listMainItem:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .downloadText {
    margin-bottom: 0;
  }
  .socialList {
    margin-bottom: 0;
  }
  .selectCountry {
    min-width: 284px;
  }
}
