.futureVersion {
  padding: 72px 0;
  background-color: #1d1d1de5;
  background: linear-gradient(
      0deg,
      rgba(29, 29, 29, 0.9),
      rgba(29, 29, 29, 0.9)
    ),
    url("../../images/ilumirate2.0bg.png");
  background-blend-mode: normal, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.futureVersionTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 16px;
  display: inline-block;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 50px;
}

.list {
  display: grid;
}

.listTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .futureVersion {
    padding: 104px 0 88px 0;
    background: linear-gradient(
        0deg,
        rgba(29, 29, 29, 0.9),
        rgba(29, 29, 29, 0.9)
      ),
      url("../../images/ilumirate2.0bgDesktop.webp");
    /* background-blend-mode: normal, multiply; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .futureVersionTitle {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .paragraph {
    font-size: 18px;
    margin-bottom: 48px;
  }
  .listContainer {
    display: flex;
  }
}
