.transparency {
  padding: 124px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../images/transparency.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.titleTransparency {
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: -15px;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.list {
  margin-bottom: 40px;
  margin-left: 24px;
}

.item {
  color: #d7d6d6;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.item + .item {
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .desktopContainer {
    padding: 104px 80px 104px 104px;
    width: calc(50% - 104px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .transparency {
    padding: 0 0;
    background: #000000;
    display: flex;
  }
  .titleTransparency {
    text-align: start;
    color: #ffffff;
    margin-bottom: 24px;
    margin-left: 0;
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paragraph {
    font-size: 18px;
  }
  .item {
    font-size: 18px;
  }
}
