.transparency {
  background-color: #000000bd;
  padding: 124px 0;
}

.titleTransparency {
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: -15px;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.list {
  margin-bottom: 40px;
  margin-left: 24px;
}

.item {
  color: #d7d6d6;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.item + .item {
  margin-top: 16px;
}
