body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #070000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 64px 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: "EB Garamond", serif;
}

@media screen and (min-width: 1440px) {
  .container {
    width: calc(1440px - 104px * 2);
    padding: 0 104px;
  }
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .section {
    padding: 104px 0;
  }
}
